/* //////////////footer//////////////////// */
.footer{
    background: #AB8261;
    color: var(--bg-white-color);
    padding: 60px 0 66px;
}
.footer__inner{
    display: grid;
    gap: 40px 30px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}
.footer__col:first-child {
    margin-top: -30px;
}
.footer__logo {
    display: block;
    max-width: 240px;
}
.footer__logo img {
    width: 100%;
}
.footer__logo-text {
    padding-bottom: 20px;
}
.socials__list {
    display: flex;
    gap: 15px;
}
.socials {
    line-height: 0;
}
.socials__link path{
    transition: var(--transition);
}
.socials__link:hover path {
    fill: var(--accent-color);
}
.footer__col-list {
    margin-top: -5px;
}
.footer__col-item {
    margin-bottom: 10px;
}
.footer__col-item:nth-last-child(1){
    margin-bottom: 0;
}
.footer__col-link{
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}
.footer__contact-list:nth-last-child(1){
    margin-bottom: 0;
}

.footer__contact-link {
    margin-bottom: 10px;
}
.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 50px;
    transition: var(--transition);
}
.footer__col-number:hover{
    color: var(--accent-color);
}
.footer__copy {
    color: #DEC5B1;
}
.footer__col-link::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -12px;
    width: 34px;
    height: 34px;
    border-radius: var(--bordeer-full);
    background-color: var(--accent-color);

    transition: all .3s;
    opacity: 0;
}
.footer__col-link:hover::before{
    opacity: 1;
}