
:root{
    --transition: all.3s ;
    --border : 20px;
    --accent-color : #de343d;
    --accent-color2 :#808080;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    background-color: #FFFFFF;
    font-family: 'Monument Extended','Arial';
    line-height: 140%;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}